{% extends "gamesearch/base.html" %}
{% block content %}
<section>
	<div class="page-header text-center">
		<h1>{{ game.name }}</h1>
	</div>
	<div class="container-fluid lead">
		<div class="row" style="margin-bottom: 30px">
			<div class="col-md-12 text-center">
				<img src="{{ game.cover_img }}" alt="">
			</div>
		</div>
		<div class="row text-center">
			<p><strong>Genres: </strong>{{ genres }}</p>
		</div>
		<div class="row">
			<div class="col-md-12 giantbomb-data">
				{{ game.description | safe }}
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<h3>Rate this game:</h3>
				<div class="rating rating-modify"></div>
			</div>
		</div>
	</div>
</section>
{% endblock content %}