{% extends "gamesearch/base.html" %}
{% load staticfiles %}
{% block content %}
<section>
	<div class="home-carousel">
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-12">
					<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
						<ol class="carousel-indicators">
							<li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
							<li data-target="#carousel-example-generic" data-slide-to="1"></li>
							<li data-target="#carousel-example-generic" data-slide-to="2"></li>
						</ol>
						<div class="carousel-inner">
							<div class="item">
								<img class="slide-image" src="http://i.imgur.com/9RZJD1k.png" alt="">
							</div>
							<div class="item active">
								<img class="slide-image" src="https://images4.alphacoders.com/208/thumb-1920-208896.jpg" alt="">
							</div>
							<div class="item">
								<img class="slide-image" src="http://media.blizzard.com/sc2/media/wallpapers/wall005/wall005-1920x1080.jpg" alt="">
							</div>
						</div>
						<a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
							<span class="glyphicon glyphicon-chevron-left"></span>
						</a>
						<a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
							<span class="glyphicon glyphicon-chevron-right"></span>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="bar background-white no-mb">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-12">
				<div class="heading text-center">
					<h2>Your search results</h2>
				</div>
				<p class="lead text-center">These are what we have found so far. Enjoy the games!</p>
			</div>
		</div>
		<div class="row">
			{% for g in games %}
				<div class="col-md-3 col-sm-6">
					<div class="box-image-text blog">
						<div class="top fix-height">
							<div class="image">
								{% if g.image.super_url %}
								<img src="{{ g.image.super_url }}" alt="" class="img-responsive"></a>
								{% else %}
								<img src="{% static 'gamesearch/images/No_Cover.jpg' %}" alt="" class="img-responsive">
								{% endif %}
							</div>
							<div class="bg"></div>
						</div>
						<div class="content">
							<div class="rating" data-id="{{ g.id }}"></div>
							<h4><a href="{% url 'gamesearch:game' g.id %}">{{ g.name }}</a></h4>
							<p class="intro">{{ g.deck }}</p>
						</div>
					</div>
				</div>
			{% endfor %}          
		</div>
	</div>
</section>
{% endblock %}